* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
}

#waybar {
    background-color: rgba(0, 0, 0, 0.3);  /* 30% opacity black */
    color: white;
    font-size: 14px;
    font-family: "awesome";
    font-weight: bolder;
    /* border-radius: 50px; */
}

#workspaces button {
    font-size: 10px;
    background-color: transparent;
    margin-right: 10px;
}

#workspaces button.active {
    font-size: 10px;
    background: white;
    color: black;
    border-radius: 45%;
}

#network {
    margin-right: 15px;
}

#clock {
    font-family: "Calibri";
    font-size: 14px;
    margin-right: 10px;
}

#pulseaudio, #battery {
    font-size: 14px;
    padding: 5px;
    margin-right: 10px;
}
